.footer {
    --clr-primary: #e01d3f;
    font: 18px Helvetica, Arial, sans-serif;
}
.footer {
    border-top: 3px solid var(--clr-primary);
    font-style: italic;
    text-align: center;
    font-weight: bold;
   }